.card {
  padding: 2em;
}

.cropped-image-clip-polygon {
  clip-path: polygon(100% 0, 0 0, 50% 100%);
}
/* @media screen and (max-width: 570px) {
  .presentation-title {
    display: none;
  }
} */
.card {
  /* border: 1px solid #ccc;
  border-radius: 8px; */
  /* padding: 0px 10px 10px 10px; */
  /* margin: 20px 0; */
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
  /* background-color: #333; */
}

.card:nth-child(odd) {
  align-self: flex-end;
  background-color: #120443;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #fbfaff;
}

.navbar .navbar-brand:hover {
  color: #5a189a;
}