<div class="timeline_wrapper mt-28">
  <div class="box-timeline w-full h-full bg-purple-800 relative pt-20 mb-28 pb-64 px-4 overflow-auto">
    <div class="timeline h-full w-2 bg-gray-200 border border-double border-zinc-900 my-0 mx-auto">
    </div>
      <div class="date d1 rounded-full w-14 h-14 p-5 font-semibold text-l absolute bg-gray-200 text-zinc-900 border-4 border-double border-zinc-900 left-1/2 -translate-x-1/2 flex justify-center items-center text-base " data-anime="1">2021</div>
      <div class="date d2 rounded-full w-14 h-14 p-5 font-semibold text-l absolute bg-gray-200 text-zinc-900 border-4 border-double border-zinc-900 left-1/2 -translate-x-1/2 flex justify-center items-center text-base " data-anime="2">2018</div>
      <div class="date d3 rounded-full w-14 h-14 p-5 font-semibold text-l absolute bg-gray-200 text-zinc-900 border-4 border-double border-zinc-900 left-1/2 -translate-x-1/2 flex justify-center items-center text-base " data-anime="3">2015</div>
      <div class="date d4 rounded-full w-14 h-14 p-5 font-semibold text-l absolute bg-gray-200 text-zinc-900 border-4 border-double border-zinc-900 left-1/2 -translate-x-1/2 flex justify-center items-center text-base " data-anime="4">2009</div>

      <div class="card c1 bg-gray-200 text-zinc-900 sm:w-1/2 md:w-2/5 lg:w-1/3 p-4 rounded h-auto shadow-lg absolute left-1/2 -translate-x-1/2" data-anime="1">
        <h2 class="font-bold text-xl">Web Development</h2>
        <p class="leading-7 mt-2.5 mr-0 mb-2 ml-0 text-lg">
        <span class="font-semibold">Le Wagon Web-Dev Bootcamp</span> [<span class="italic">Bruxelles, Belgium</span>](2021)
        </p>
        <p class="leading-7 mt-2.5 mr-0 mb-2 ml-0 text-m">
        Being working on personal projects while practising my dev skills. I'm now for a junior full-stack web-developper position.
        </p>
      </div>
      <div class="card c2 bg-gray-200 text-zinc-900 sm:w-1/2 md:w-2/5 lg:w-1/3 p-4 rounded h-auto shadow-lg absolute left-1/2 -translate-x-1/2" data-anime="2">
        <h2 class="font-bold text-xl">DATA PROTECTION</h2>
        <p class="leading-7 mt-2.5 mr-0 mb-2  ml-0 text-lg">
        <span class="font-semibold">Data protection & Security consultant</span>at Business & Decision [<span class="italic">Bruxelles, Belgium</span>] (2018-2021)
        </p>
        <p class="leading-7 mt-2.5 mr-0 mb-2 ml-0 text-m">
        Focused on legal compliance and Identity & Access mgt projects 
        </p>
      </div>
      <div class="card c3 bg-gray-200 text-zinc-900 sm:w-1/2 md:w-2/5 lg:w-1/3 p-4 rounded h-auto shadow-lg absolute left-1/2 -translate-x-1/2" data-anime="3">
        <h2 class="font-bold text-xl">EUROPEAN AFFAIRS</h2>
        <p class="leading-7 mt-2.5 mr-0 mb-2 ml-0 text-lg">
          <span class="font-semibold">European affairs adviser</span> at Orange Group[<span class="italic">Bruxelles, Belgium</span>] (2016-2018)
        </p>
        <p class="leading-7 mt-2.5 mr-0 mb-2 ml-0 text-m">Monitor and assess regulations with regard to their impacts on the
        business</p>
      </div>
      <div class="card c4 bg-gray-200 text-zinc-900 sm:w-1/2 md:w-2/5 lg:w-1/3 p-4 sm:mt-8 mb-8 rounded h-auto shadow-lg absolute left-1/2 -translate-x-1/2" data-anime="4">
        <h2 class="font-bold text-xl" >EDUCATION</h2>
        <p class="leading-7 mt-2.5 mr-0 ml-0 text-lg">Master degrees [<span class="italic">Bordeaux, France</span>]  (2012-2015)
        <p class="leading-7 mt-2.5 mr-0 mb-2 ml-0 text-lg">Bachelor in law[<span class="italic">Versailles, France</span>] (2009-2012)
        </p>
      </div>
  </div>


</div>