<div class="p-8 mt-28 h-screen w-full flex items-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6 w-full">
    <div class="relative overflow-hidden rounded-lg shadow-lg cursor-pointer">
      <%= image_tag("news_02.jpg", size: "16x10", alt: "newsapper", class:"object-cover w-full h-48") %>

      <div class="absolute top-0 left-0 px-6 py-4">
        <h4 class="mb-3 text-xl font-semibold tracking-tight text-purple-800">what about?</h4>
        <p class="leading-normal text-purple-800">Blog Post</p>
      </div>
    </div>

    <div class="relative overflow-hidden rounded-lg shadow-lg cursor-pointer">
      <%= image_tag("fabric12.jpg", size: "16x10", alt: "newsapper", class:"object-cover w-full h-48") %>

      <div class="absolute top-0 left-0 px-6 py-4">
        <h4 class="mb-3 text-xl font-semibold tracking-tight text-purple-800">Circular lab</h4>
        <p class="leading-normal text-purple-800">Market place</p>
      </div>
    </div>

    <div class="relative overflow-hidden rounded-lg shadow-lg cursor-pointer">
      <%= image_tag("dashboard.jpg", size: "16x10", alt: "newsapper", class:"object-cover w-full h-48") %>

      <div class="absolute top-0 left-0 px-6 py-4">
        <h4 class="mb-3 text-xl font-semibold tracking-tight text-purple-800">My M'Ployees</h4>
        <p class="leading-normal text-purple-800">Payroll Dashboard</p>
      </div>
    </div>

    <div class="relative overflow-hidden rounded-lg shadow-lg cursor-pointer">
      <%= image_tag("karaoke.jpg", size: "16x10", alt: "newsapper", class:"object-cover w-full h-48") %>

      <div class="absolute top-0 left-0 px-6 py-4">
        <h4 class="mb-3 text-xl font-semibold tracking-tight text-purple-800">Karaoke Company</h4>
        <p class="leading-normal text-purple-800">Event management website</p>
      </div>
    </div>
  </div>
</div>